@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    background: #202020;
    color: #fff
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.center {
    @apply flex justify-center items-center;
}

.center-col {
    @apply flex flex-col justify-center items-center;
}

.bottom {
    @apply absolute bottom-0;
}

.top {
    @apply absolute top-0;
}

.grid-background{
    background-image: url('../../public/images/gridBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
}